<div>
  <nav class="nav-above-footer">
    <div class="div-footer-links">
      <a (click)="scrollTo('home')">Home</a>
      <a (click)="scrollTo('about')">About Me</a>
      <a (click)="scrollTo('contact')">Contact</a>
    </div>
    <div class="div-footer-contacts">
      <a [href]="linkedinUrl" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faLinkedin" size="2x" style="color: white"></fa-icon>
      </a>
    </div>
  </nav>
</div>
<footer>
  <div>
    <p>&copy; {{ currentYear }} <span class="rights-name">Gustavo Figueiredo</span>. All rights reserved.</p>
  </div>
</footer>
