#home, #about, .skills-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#home {
  margin-top: 5rem;
}

#about {
  margin: 8rem 0;
}

.home-presentation {
  justify-content: space-between;
  flex: 1;
}

.home-intro {
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.home-name {
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--orange-FD6F00);
  font-size: 2rem;
}

.home-title {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 5rem;
  letter-spacing: 0.05rem;
  margin: 0;
  justify-content: flex-start;
  align-items: flex-start;
}

.home-title-line-1 {
  align-self: flex-start;
}

.home-title-line-2 {
  align-self: flex-end;
}

.home-description {
  text-align: justify;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

@media (min-width: 1750px) {
  .home-description, .home-title {
    max-width: 70%;
  }
}

@media (min-width: 2560px) {
  .home-description, .home-title {
    max-width: 50%;
  }
}

@media (min-width: 3600px) {
  .home-description, .home-title {
    max-width: 40%;
  }
}

.home-image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.home-image {
  width: 25rem;
  height: 30rem;
}

.home-socials {
  margin: 2rem;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  flex: 1;
}

.about-image-wrapper {
  flex: 1;
  width: 50%;
}

.about-image {
  width: 31rem;
  height: 30rem;
}

.about-title {
  font-weight: 400;
  font-size: 4rem;
}

.about-description {
  text-align: justify;
  margin-right: 2rem;
  margin-top: 2rem;
  line-height: 1.5;
}

.about-certifications-list {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.skills-wrapper {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}

.skills-title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  white-space: nowrap;
  text-align: center;
  position: relative;
  display: inline-block;
}

.skills-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: var(--orange-FD6F00);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.skills-title:hover::after {
  transform: scaleX(1);
}

.skills-list {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-list li,
.about-certifications-list li {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.skills-list li {
  flex: 0 0 50%;
  box-sizing: border-box;
}

.skills-list li::before, .about-certifications-list li::before {
  content: "•";
  color: var(--orange-FD6F00);
  font-weight: bold;
  margin: 0 0.09rem;
}

.skills-list-wrapper, .skills-certifications-wrapper {
  flex: 1;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  text-align: center;
}

.contact-header-title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.contact-header-description {
  line-height: 1.5;
  letter-spacing: 0.05rem;
}

.contact-form {
  display: flex;
  margin: 2rem;
  height: 3rem;
  align-items: stretch;
}

.contact-input {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--black-100);
  margin: 0 0.5rem;
  border-radius: 9px;
  padding: 1rem;
  width: 25rem;
}

.contact-button {
  background-color: var(--orange-FD6F00);
  color: white;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 0.5rem;
  border-radius: 9px;
  padding: 0 1.5rem;
  letter-spacing: 0.05rem;
}

#contact button:hover {
  opacity: 0.9;
}

section,
.reveal-element {
  opacity: 0;
  transition: opacity 3s ease;
}

.revealed {
  opacity: 1;
}